.title {
  font-size: 22px;
  position: relative;
  left: 1%;
}
.form {
  margin-left: -4%;
}
.search {
  margin-left: 3%;
}
.form-control {
  width: 70%;
}
.b {
  padding: 5%;
}

/* login css */
#login {
  border: 2px solid rgba(255, 255, 255, 0.474);
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  width: 45%;
  /* height: 530px; */
  background-color: rgba(59, 49, 49, 0.26);
}
/* register css */
.or {
  border: 2px solid rgba(255, 255, 255, 0.474);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  min-width: 20rem;
  background-color: rgba(59, 49, 49, 0.26);
}
.fa-user-plus {
  border: 2px solid white;
  border-radius: 50%;
  padding: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
}

/* Register and login input  */
.f {
  width: 100%;
}
.log {
  margin-right: 7%;
}

.img {
  width: 18%;
  height: auto;
}

.nav-link {
  font-size: 22px;
}

/* Add note */
.add {
  border: 2px solid rgba(255, 255, 255, 0.474);
  width: 100%;
  margin-top: -3%;
  min-width: 315px;
  background-color: rgba(59, 49, 49, 0.263);
}

.note {
  border: 2px solid rgba(255, 255, 255, 0.474);
  min-width: 315px;
  margin-left: 0%;
  background-color: rgba(59, 49, 49, 0.263);
}
.getnote {
  font-size: 35px;
  min-width: 80px;
  text-shadow: 2px 2px 5px rgb(242, 24, 24);
  background-color: rgba(240, 248, 255, 0.408);
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.069),
    rgba(255, 89, 0, 0.172) 10%,
    rgba(0, 211, 197, 0.172) 15%,
    rgba(255, 60, 0, 0.172) 20%
  );
  animation: gradient-animation;
}
.addnote {
  font-size: 35px;
  min-width: 80px;
  text-shadow: 2px 2px 5px rgb(206, 56, 56);
  background-color: rgba(240, 248, 255, 0.408);
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.069),
    rgba(255, 89, 0, 0.172) 10%,
    rgba(0, 211, 197, 0.172) 15%,
    rgba(255, 60, 0, 0.172) 20%
  );
  animation: gradient-animation;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Navbar */
.navbar-nav{
  margin-left: 73%;
}


/* AIntro component  */
.demo{
  width: 75%;
  margin-left: 20%;
  height: 65%;
}